<!DOCTYPE html>
<html>

<head>
    <% include ./header.ejs %>
</head>

<body>
    <div class="estimateResult_page_wrap">
        <div class="row header_wrap">
            <h1>
                <a href="#">
                    <img src="logo.png" alt="공업사로고">
                </a>
            </h1>
            <button type="button" class="login_btn">로그인</button>
        </div>
        <div id="main_container">
            <div class="main_inner_wrap">
                <div class="estimate_result">
                    <div class="result">
                        <h1>견적서 요청</h1>
                        <h1>완료되었습니다.</h1>
                    </div>
                    <div class="contents">
                        <h2>차종</h2>
                        <p id="carType">null</p>
                        <h2>요청사항</h2>
                        <p id="requestType">null</p>
                        <h2>요구사항</h2>
                        <p id="requirements">null</p>
                        <h2>프로모션코드</h2>
                        <p id="eventCode">null</p>
                    </div>
                    <div class="check_div" >
                        <button id="checkBtn">확인</button>
                    </div>
                </div>

                <div class="notice">
                    
                </div>
            </div>
        </div>
        <% include ./footer.ejs %>
    </div>
</body>

</html>