<!DOCTYPE html>
<html>

<head>
  <% include ./header.ejs %>
</head>

<body>
  <div class="event_wrap">
    <div class="row header_wrap">
      <h1>
        <a href="#">
          <img src="/images/logo.png" alt="공업사로고">
        </a>
      </h1>
      <button type="button" class="login_btn">로그인</button>
    </div>
    <div class="event_container">
      <div class="inner_section">
        <div class="coupon_seach">
          <input type="text" placeholder="쿠폰 번호를 입력해 주세요.">
          <button type="button">등록</button>
        </div>
        <hr>
        <% include ./eventCard.ejs %>
      </div>
    </div>
    <% include ./footer.ejs %>
  </div>

  <script>
  console.log(document.getElementsByTagName('input')[2].value);
  </script>
</body>

</html>