<!DOCTYPE html>
<html>

<head>
  <% include ./header.ejs %>
</head>

<body>
  <div class="event_wrap">
    <div class="row header_wrap">
      <h1>
        <a href="#">
          <img src="/images/logo.png" alt="공업사로고">
        </a>
      </h1>
      <button type="button" class="login_btn">로그인</button>
    </div>
    <div id="main_container">
      <div class="inner_section">
        <div class="coupon_seach">
          <input type="text" placeholder="쿠폰 번호를 입력해 주세요.">
          <button type="button">등록</button>
        </div>
        <hr>
        <div class="event_content">
          <div class="event1">
            <a class="event_img_wrap" href="event_detail">
              <img src="/images/auto.png" alt="auto 이미지">
              <div>
                <h2>무상점검</h2>
                <p class="dis_type">100% 할인</p>
                <p class="dis_content">오일류,패드류, 등 기본 정비 10개 항목</p>
              </div>
            </a>
          </div>
          <div class="event2">
            <a class="event_img_wrap" href="event_detail">
              <img src="/images/auto.png" alt="auto 이미지">
              <div>
                <h2>엔진오일 할인권</h2>
                <p class="dis_type">20,00원</p>
                <p class="dis_content">ZIC 및 동급 엔진오일기준</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% include ./footer.ejs %>
  </div>

  <script>
  
  </script>
</body>

</html>