<div id="footer">
    <div class="row">
        <ul>
        <li>메인</li>
        <li>채팅</li>
        <li>설정</li>
        </ul>
    </div>
</div>

<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/javascripts/firebase.js"></script>
<script src="/javascripts/firebase.setting.js"></script>