<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/reset.css' />
<link rel='stylesheet' href='/stylesheets/defaultStyle.css' />
<<<<<<< HEAD
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/insertUser.css' />
=======
<link rel='stylesheet' href='/stylesheets/login.css' />
<link rel='stylesheet' href='/stylesheets/motorSC.css' />
>>>>>>> 이슈_48_데이터베이스추가
