<meta charset="utf-8"/>

<!-- 헤더 제거 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- 상태바 제거 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 뷰포트 설정 -->
<meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

<!-- 웹 매니페스트 설정. -->
<link rel="manifest" href="/manifest.json"></link>

<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/reset.css' />
<link rel='stylesheet' href='/stylesheets/defaultStyle.css' />
<link rel='stylesheet' href='/stylesheets/login.css' />
<link rel='stylesheet' href='/stylesheets/motorSC.css' />
<link rel='stylesheet' href='/stylesheets/main.css' />
<link rel='stylesheet' href='/stylesheets/motorEstimate.css' />
<link rel='stylesheet' href='/stylesheets/estimateResult.css' />
<link rel='stylesheet' href='/stylesheets/insertUser.css' />
<link rel='stylesheet' href='/stylesheets/localLogin.css' />
<link rel='stylesheet' href='/stylesheets/event.css' />
