<meta charset="utf-8"/>

<!-- 핸드폰 번호 하이퍼링크 표시하지 않도록. -->
<meta name="format-detection" content="telephone=no">
<!-- 링크 강조 표시 제거 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 헤더 제거 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- 상태바 제거 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 뷰포트 설정 -->
<meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

<!-- 로딩전 이미지 표시 iOS -->
<link rel="apple-touch-icon" href="/images/manifest/appIcon.jpg">
<link rel="apple-touch-icon" sizes="76x76" href="/images/manifest/appIcon.jpg">
<link rel="apple-touch-icon" sizes="120x120" href="/images/manifest/appIcon.jpg">
<link rel="apple-touch-icon" sizes="152x152" href="/images/manifest/appIcon.jpg">

<!-- 로딩전 이미지 표시 안드로이드. -->
<link rel="apple-touch-startup-image" href="/images/manifest/appIcon.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="/images/manifest/appIcon.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="/images/manifest/appIcon.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="/images/manifest/appIcon.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="/images/manifest/appIcon.jpg" media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="/images/manifest/appIcon.jpg" media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="/images/manifest/appIcon.jpg" media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">

<!-- 웹 매니페스트 설정. -->
<link rel="manifest" href="/manifest.json"></link>

<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/reset.css' />
<link rel='stylesheet' href='/stylesheets/defaultStyle.css' />
<link rel='stylesheet' href='/stylesheets/login.css' />
<link rel='stylesheet' href='/stylesheets/motorSC.css' />
<link rel='stylesheet' href='/stylesheets/main.css' />
<link rel='stylesheet' href='/stylesheets/motorEstimate.css' />
<link rel='stylesheet' href='/stylesheets/estimateResult.css' />
<link rel='stylesheet' href='/stylesheets/insertUser.css' />
<link rel='stylesheet' href='/stylesheets/localLogin.css' />
<link rel='stylesheet' href='/stylesheets/event.css' />
