<!DOCTYPE html>
<html>
  <head>
    <% include ./header.ejs %>
  </head>

  <body>
    <div class="insertUser_wrap">
      <div class="row header_wrap">
        <h1><a href="#"><img src="logo.png" alt="공업사로고"></a></h1>
        <button type="button" class="login_btn">로그인</button>
      </div>
      <div id="main_container">
        <div class="main_inner_wrap">
          <!--기본정보 입력-->
          <div class="basicInformation">
            <b>기본정보 입력</b>
          </div>

          <!--폰번호-->
          <div>
            <div class="thema"><b>폰번호</b></div>
            <div class="thema red">(필수)</div>
            <input class="themaInput" type="text" id="phone">
          </div>

          <!--비밀번호-->
          <div>
            <div class="thema"><b>비밀번호</b></div>
            <div class="thema red">(필수)</div>
            <input class="themaInput" type="password" id="passwd">
          </div>

          <!--차종-->
          <div>
            <div class="thema"><b>차종</b></div>
            <div class="thema red">(필수)</div>
            <select class="themaInput car_list" id="car_list" name="car_list">
              <option value="all_new_k3" selected>all new k3</option>
              <option value="BMW">BMW</option>
              <option value="audi">audi</option>
          </select>
          </div>

          <!--연식-->
          <div>
            <div class="thema"><b>연식</b></div>
            <div class="thema red">(필수)</div>
            <input class="themaInput" type="text" id="carYear">
          </div>

          <!--키로수-->
          <div>
            <div class="thema"><b>키로수</b></div>
            <div class="thema red">(필수)</div>
            <input class="themaInput" type="text" id="carKm">
          </div>

          <!--등급-->
          <div>
            <div class="thema"><b>등급</b></div>
            <div class="thema black">(선택)</div>
            <input class="themaInput" type="text" id="carRate">
          </div>

          <!--동의 체크박스-->
          <div class="termsCheck">
            <b>개인정보</b> 및 <b>서비스 이용약관</b> 동의합니다.
            <input class="btnChk" type="checkbox" id="btnChk" onclick="chkClick();">
          </div>
  
          

        </div>
      </div>
      <!--가입버튼-->
      <div class="insertBtn" id="insertBtn" onclick="click();">
        <a>가입하기</a>
      </div>
      
    <% include ./footer.ejs %>
    </div>

<script>
document.getElementById("btnChk").onclick = function () {
  var btnChk = document.getElementById('btnChk');
  var chk = false;
  if(btnChk.checked) {
    chk = true;
  } else {
    chk = false;
  }
}

document.getElementById("insertBtn").onclick = function () {
  var phone = document.getElementById('phone').value;
  var passwd = document.getElementById('passwd').value;
  var carType = document.getElementById('car_list').value;
  var carYear = document.getElementById('carYear').value;
  var carKm = document.getElementById('carKm').value;
  var carRate = document.getElementById('carRate').value;

  if(document.getElementById('btnChk').checked == true) {
    if(phone !== '' && passwd !== '' && carType !== '' && carYear !== '' && carKm !== '') {
      if(dupCheck(phone) == true) {
        insertUser(phone, passwd,carType,carYear,carKm,carRate);
        alert('가입되었습니다.');
        location.href='/';
      }
      else {
        alert('이미 가입되어있는 유저입니다.');
      }
    }
    else if(phone == '' || passwd == ''){
      alert('폰번호 또는 비밀번호를 잘못 입력 하였습니다.');
    }
    else if(carType == ''){
      alert('차종을 잘못 입력 하였습니다.');
    }
    else if(carYear == ''){
      alert('연식을 잘못 입력 하였습니다.');
    }
    else if(carKm == ''){
      alert('키로수을 잘못 입력 하였습니다.');
    }
  }
  else {
    alert('이용약관에 동의해주세요');
  }
}
</script>
  </body>
</html>
  