<!DOCTYPE html>
<html>
  <head>
    <% include ./header.ejs %>
  </head>

  <body>
    <div class="motor_wrap">
      <div class="row header_wrap">
        <h1><a href="#"><img src="logo.png" alt="공업사로고"></a></h1>
        <button type="button" class="login_btn">로그인</button>
      </div>
      <div id="main_container">
        <div class="main_inner_wrap">
          <!--기본정보 입력-->
          <div class="basicInformation">
            <b>기본정보 입력</b>
        </div>
          
          <!--차종-->
          <div>
            <div>차종<div>(필수)</div></div>
              <select>
                <option value="">all new k3</option>
              </select>
          </div>
          
          <!--연식-->
          <div>
            <div>연식<div>(필수)</div></div>
              <input type="text">
          </div>

          <!--키로수-->
          <div>
            <div>키로수<div>(필수)</div></div>
              <input type="text">
          </div>

          <!--등급-->
          <div>
            <div>등급<div>(선택)</div></div>
              <input type="text">
          </div>

          <!--동의 체크박스-->
          <div>
            <div><b>개인정보</b> 및 <b>서비스 이용약관</b> 동의합니다.<input type="checkbox"></div>
          </div>

          <!--가입버튼-->
          <div style="
            background-color:gray;
            color:black;
            font-size:1.3rem;
            height:35px;
            line-height:30px;
            text-align:center;
            width:100%;
            background-color: gray;
            color: black;
            font-size: 45%;
            line-height: 300%;
            text-align: center;
            width: 100%;
        ">
            가입하기
          </div>

        </div>
      </div>
      <% include ./footer.ejs %>
    </div>
  </body>
</html>
  