<html>
<head>
    <% include ./header.ejs %>
  </head>
  <body>
      <div class="login_page_wrap">
          <div class="row header_wrap">
            <h1><a href="#"><img src="logo.png" alt="공업사로고"></a></h1>
            <button type="button" class="login_btn">로그인</button>
          </div>
          <div id="main_container">
            <div class="main_inner_wrap">
              <div class="outer">
                  <div class="inner">
                    <div class="text_block top_text_block" >
                      인증된 업체들을 통해 믿을 수 있는 확실한 서비스를 제공받으세요.
                    </div>
                    <div class="btn_sns_list">
                      <a href="/auth/login/kakao" class="login-kakao" id="login-kakao"><i>카카오</i>로그인</a>
                      <a href="/auth/login/facebook" class="login-facebook" id="login-facebook"><i>페이스북</i>로그인</a>
                      <a href="/auth/login/naver" class="login-naver" id="naverIdLogin_loginButton"><i>네이버</i>로그인</a>
                      <a href="/localLogin" class="login-naver" id="native_login">일반로그인</a>
                    </div>
                    <div class="text_block">
                      Copyright ⓒ 2018 착한자동차공업사. All rights reserved.<br>
                      <br><br>
                      고객센터 1234-5678 (평일 10:00 ~ 18:00)<br><br>
                      이메일 : sample@naver.com <br><br>
                      (주) 착한자동차공업사|대표 : 홍길동|사업자번호 : 144-81-21245<br><br>
                      경기도 부천시 원미구 신흥로59번길 44-7<br><br>
                      <br><br>
                      사용자 이용약관|개인정보 취급방침|위치정보 서비스 이용약관
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <% include ./footer.ejs %>
        </div>
        <script>
          // Detects if device is on iOS 
          const isIos = () => {
            const userAgent = window.navigator.userAgent.toLowerCase();
            return /iphone|ipad|ipod/.test( userAgent );
          }
          // Detects if device is in standalone mode
          const isInStandaloneMode = () => ('standalone' in window.navigator) && (window.navigator.standalone);

          // Checks if should display install popup notification:
          if (isIos() && !isInStandaloneMode()) {
            this.setState({ showInstallMessage: true });
          }
        </script>
  </body>
  </html>