<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
  <title>Login Demo - Kakao JavaScript SDK</title>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  
  <style>
    .naver-login-button{
      height: 40px;
      width: 240px;
      background-image: url("https://static.nid.naver.com/oauth/big_g.PNG");
      background-size: cover;
      background-position-y: -5px;
      border: none;
      background-repeat: no-repeat;
      background-color: #1ec802;
      border-radius: 5px;
      display: table-cell;
    }

    .fb-login-button span{
      margin: auto;
      right: 0;
      left: 0;
      display: block !important;
    }

    .fb-login-button-div{
      display: table;
      position: relative;
      width:240px;
      height: 40px;
      background: #4267b2;
      border-radius: 5px;
    }

    .fb-login-button{
      max-width: 240px;
      overflow: hidden;
      display: table-cell !important;
      border-radius: 5px;
      margin-right: 285px;
    }
    
    .fb-layer{
      height: 40px;
      position: absolute;
      background: #4267b2;
      width: 0px;
      z-index: 1;
      top: 0;
      right: 0;
      border-radius: 5px;
    }

    .kakao-login-button{
      height: 40px;
      width: 240px;
      background-image: url("http://k.kakaocdn.net/14/dn/btqbjxsO6vP/KPiGpdnsubSq3a0PHEGUK1/o.jpg");
      background-size: cover;
      background-position: -5px 1px;
      border: none;
      background-repeat: no-repeat;
      background-color: #ffeb00;
      border-radius: 5px;
      display: table-cell;
    }

    
  </style>
  <style>
    a {
      margin: 0;
      padding: 0;
      color: #454545;
      font-size: 100%;
      vertical-align: baseline;
      text-decoration: none;
      background: transparent;
    }
    .btn_sns_list i {
      display: inline-block;
      position: relative;
      width: 88px;
      height: 15px;
      background: url(/images/sub/member/sns_mbtn_set.png) no-repeat 0 0;
      background-size: 80px 64px;
      font-size: 0;
      text-indent: -9999em;
      vertical-align: middle;
    }
    .btn_sns_list a {
      width: 199px;
      margin: 0 0 5px 5px;
    }
    .btn_sns_list > a {
      display: block;
      padding: 6px 0;
      height: 22px;
      border: 1px solid #e0e0e0;
      line-height: 22px;
      font-size: 14px;
      color: #454545;
      font-weight: 600;
      text-align: center;
    }
    .btn_sns_list i {
      height: 12px;
      background: url("https://ssl.tourbaksa.com/images/sub/member/sns_pcbtn_set.png") no-repeat 0 0;
      background-size: inherit;
      vertical-align: top;
      top: 2px;
    }
    .login-facebook i {
      width: 86px;
      height: 15px;
      background-position: 0 -29px;
    }
    .login-naver i {
      width: 76px;
      background-position: 0 0;
      top: 5px;
    }
    .login-kakao i {
      width: 66px;
      height: 17px;
      background-position: 0 -12px;
    }

    .btn_sns_list > a.login-facebook {
      top: -3px;
      width: 167px !important;
      padding-left: 32px;
      text-align: left;
    }
    .login-kakao {
      top: -3px;
    }
    .login-facebook {
      top: -3px;
      width: 167px !important;
      padding-left: 32px;
      text-align: left;
    }

    .hide{
      display:none;
    }
    
  </style>
  </head>
  <body>

    <div class="btn_sns_list">
      <a href="javascript:loginWithKakao()" class="login-kakao" id="login-kakao"><i>카카오</i>로그인</a>
      <a href="javascript:loginWithFacebook()" class="login-facebook" id="login-facebook"><i>페이스북</i>로그인</a>
      <a href="javascript:loginWithNaver()" class="login-naver" id="naverIdLogin_loginButton"><i>네이버</i>로그인</a>
    </div>
    <% include ./login_footer.ejs %>
  </body>
  </html>