<!DOCTYPE html>
<html>

<head>
  <% include ./header.ejs %>
</head>

<body>
  <div class="main_page_wrap">
    <div class="row header_wrap">
      <h1>
        <a href="#">
          <img src="logo.png" alt="공업사로고">
        </a>
      </h1>
      <button type="button" class="login_btn">로그인</button>
    </div>
    <div id="main_container">
      <div class="main_inner_wrap">
        <div class="back_image">
          <img class="img1" src="/images/sample1.png" alt="">
        </div>
        <div class="main_content">
            
            <div class="carInfo">
                <div class="inner">
                  <img class="carImage" src="/images/car_image_sample.png">
                </div>
                <div class="empty"></div>
                <div class="changeInfo">정보수정</div>
                <div class="row">
                  <div class="inline_block" id="item1">모델</div>
                  <div class="inline_block">Meroedes</div>
                </div>
      
                <div class="row">
                  <div class="inline_block" id="item2">연식</div>
                  <div class="inline_block">2018/05/05</div>
                </div>
      
                <div class="row">
                  <div class="inline_block" id="item3">키로수</div>
                  <div class="inline_block">2000km</div>
                </div>
      
                <div class="row">
                  <div class="inline_block" id="item4">등급</div>
                  <div class="inline_block">스타일</div>
                </div>
              </div>
      
              <div class="estimate">
                <button class="button">실시간견적</button>
              </div>
      
              <div class="reservation">
                <h1>예약현황</h1>
                <div class="image">
                </div>
              </div>
      
              <div class="event">
                <h1>이벤트</h1>
                <div class="coupon">
                </div>
              </div>
      
              <div class="tip">
                <h1>차량관리팁</h1>
                <div class="tip-inner">
                    <div class="item">1111</div>
                    <div class="item">222</div>
                    <div class="item">333</div>
                    <div class="item">444</div>
                    <div class="item">555</div>
      
                </div>
              </div>          
        </div>
        <div class="copyright">
            Copyright ⓒ 2018 착한자동차공업사. All rights reserved.
            <br>
            <br>
            <br> 고객센터 1234-5678 (평일 10:00 ~ 18:00)
            <br>
            <br> 이메일 : sample@naver.com
            <br>
            <br> (주) 착한자동차공업사|대표 : 홍길동|사업자번호 : 144-81-21245
            <br>
            <br> 경기도 부천시 원미구 신흥로59번길 44-7
            <br>
            <br>
            <br>
            <br> 사용자 이용약관|개인정보 취급방침|위치정보 서비스 이용약관
        </div>
      </div>

    </div>
    <% include ./footer.ejs %>
  </div>
</body>

</html>