<!DOCTYPE html>
<html>

<head>
  <% include ./header.ejs %>
</head>

<body>
  <div class="main_page_wrap">
    <div class="row header_wrap">
      <h1>
        <a href="#">
          <img src="logo.png" alt="공업사로고">
        </a>
      </h1>
      <button type="button" class="login_btn">로그인</button>
    </div>
    <div id="main_container">
      <div class="main_inner_wrap">

        <div class="back_image_wrap">
            <div class="back_image_content"></div>
        </div>

        <div class="main_content">
          <div class="car_name_wrap">
            <div class="car_name">폭스바겐 파사트 프리미엄</div>
          </div>

          <div class="car_info">
            <div class="inner">
              <img class="carImage" src="/images/car_image_sample.png">
            </div>
            <div class="empty"></div>


            <div class="row">
              <div class="inline_block1" id="item1">연식</div>
              <div class="inline_block2">2018.05.05</div>
            </div>

            <div class="row">
              <div class="inline_block1" id="item2">주행거리</div>
              <div class="inline_block2">25,000km</div>
            </div>
          </div>


          <div class="reservation_wrap">
            <h1>예약현황</h1>
            <div class="reservation_inner">
              <div id="reservation1">
                <div class="reservation_content">
                    <div class="left_side">
                      <div class="row">
                        <div class="reservation_status">접수대기</div>
                        <div class="reservation_car_name">모델명</div>
                      </div>
                      <div class="row">
                          <div class="reservation_status2">보험접수</div>
                      </div>
                      <div class="row">
                          <div class="reservation_text">보조석 문짝이 찌그러졌습니다.</div>
                      </div>
                      <div class="row">
                          <div class="reservation_date">2018.09.10</div>
                      </div>
                    </div>
                    <div class="right_side">
                      <img class="reservation_car_image" src="/images/car_image_sample.png" alt="">
                    </div>
                </div>
                <div class="reservation_button_wrap">
                    <div class="left_button">전화하기</div>
                    <div class="right_button">공업소 위치</div>
                </div>
              </div>
            </div>
          </div>

          <div class="event_wrap">
            <h1>이벤트</h1>
            <div class="event_inner">
                <div class="event_content">
                    <form action="/event_detail" method="post">
                      <div class="event1">
                        <button class="event_img_wrap">
                          <img src="/images/auto.png" alt="auto 이미지">
                          <div>
                            <h2>무상점검</h2>
                            <p class="dis_type">100% 할인</p>
                            <p class="dis_content">오일류,패드류, 등 기본 정비 10개 항목</p>
                          </div>
                        </button>
                      </div>
                      <input type="hidden" name="img" value="/images/back_img1.jpg">
                      <input type="hidden" name="dis_title" value="무상점검">
                      <input type="hidden" name="dis_type" value="100% 할인">
                      <input type="hidden" name="dis_content" value="오일류,패드류, 등 기본 정비 10개 항목">
                    </form>
                    <form action="/event_detail" method="post">
                      <div class="event2">
                        <button class="event_img_wrap">
                          <img src="/images/auto.png" alt="auto 이미지">
                          <div>
                            <h2>엔진오일 할인권</h2>
                            <p class="dis_type">200,00원</p>
                            <p class="dis_content">ZIC 및 동급 엔진오일기준</p>
                          </div>
                          <input type="hidden" name="dis_title" value="엔진오일 할인권">
                          <input type="hidden" name="img" value="/images/back_img2.jpg">
                          <input type="hidden" name="dis_type" value="200,00원">
                          <input type="hidden" name="dis_content" value="ZIC 및 동급 엔진오일기준">
                        
                        </button>
                      </div>
                    </form>
                  </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <% include ./footer.ejs %>
  </div>
</body>

</html>