<!DOCTYPE html>
<html>

<head>
  <% include ./header.ejs %>
</head>

<body>
  <div class="motor_wrap">
    <div class="row header_wrap">
      <h1>
        <a href="#">
          <img src="logo.png" alt="공업사로고">
        </a>
      </h1>
      <button type="button" class="login_btn">로그인</button>
    </div>
    <div id="main_container">
      <div class="main_inner_wrap">
        <!--공업사 메인 이미지-->
        <div>
          <img class="mainImg" src="/images/motorImage.PNG">
        </div>

        <!--견적요청 버튼-->
        <a href="/motores">
          <div class="estimate">견적요청
          </div>
        </a>

        <div class="shopInfo">
          <div class="leftSide">
            <img class="infoImage" src="/images/motorImage2.PNG">
          </div>
          <div class="rightSide">
            <ul>
              <li class="motorName">이광현 공업사</li>
              <li class="motorAddress">부천시 원미구 원미동 777-30번지</li>
              <li class="motorPhonNumber">070-1010-1010</li>
            </ul>
          </div>
        </div>

        <!--정비소 위치-->
        <div id="map" class="motorLocation"></div>

        <!--운영시간-->
        <div class="operatingTimeWrap">
          <div class="title">
            운영시간
          </div>
          <div class="content">
            월,화,수,목,금: 00:00~00:00
            <br> 토: 00:00~00:00
            <br> 일,공휴일:휴무
          </div>
        </div>

        <!--기본정보-->
        <div class="basicInfoWrap">
          <div class="title">
            기본정보
          </div>
          <div class="content">
            <ul>
              <li>오일류 교환</li>
              <li>차량 튜닝</li>
              <li>타이어 교체</li>
              <li>무료세차</li>
              <li>외부 수리</li>
              <li>열처리 부스 자체 보유</li>
            </ul>
          </div>
        </div>

        <!--고객후기-->
        <div class="reviewWrap">
          <div class="title">
            고객후기
            <a class="reviewEdit">
              리뷰 작성
            </a>
          </div>
          <div class="content">
            <div class="reviewCrad" id="item1">
              <div class="leftSide">
                <img class="reviewImg" src="/images/test_good.JPG">
              </div>
              <div class="rightSide">
                <ul>
                  <li class="reviewContent">매우만족</li>
                  <li class="reviewCarType">아우디a4/2014년 오너</li>
                  <li class="reviewDate">2018년8월2일 2:10</li>
                </ul>
              </div>
            </div>

            <div class="reviewCrad" id="item2">
              <div class="leftSide">
                  <img class="reviewImg" src="/images/test_good.JPG">
              </div>
              <div class="rightSide">
                <ul>
                  <li class="reviewContent">제가 원햇던 날짜에 받아볼 수 있어서 좋았구요. 세심하게 신경써주시는거 같아서 믿음이 갔습니다. 주변 지인들에게 소개 꼭 할께요.</li>
                  <li class="reviewCarType">아우디a4/2014년 오너</li>
                  <li class="reviewDate">2018년8월2일 2:10</li>
                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <% include ./footer.ejs %>
  </div>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8c90b134b9cc783b8d8cebc646a4d195"></script>
  <script>
    var container = document.getElementById('map');
    var options = {
      center: new daum.maps.LatLng(37.487697, 126.788740),
      level: 3
    };

    var map = new daum.maps.Map(container, options);

    // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
    if (navigator.geolocation) {

      // GeoLocation을 이용해서 접속 위치를 얻어옵니다
      navigator.geolocation.getCurrentPosition(function (position) {
        var locPosition = new daum.maps.LatLng(37.487697, 126.788740); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
        var message = '<div style="width:200px;font-size:1rem;padding:5px;"><b>부천 착한 공업사</b><br>부천시 원미구 심곡동 777-30</div>'; // 인포윈도우에 표시될 내용입니다

        // 마커와 인포윈도우를 표시합니다
        displayMarker(locPosition, message);

      });

    } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

      var locPosition = new daum.maps.LatLng(37.487697, 126.788740),
        message = 'geolocation을 사용할수 없어요..'

      displayMarker(locPosition, message);
    }

    // 지도에 마커와 인포윈도우를 표시하는 함수입니다
    function displayMarker(locPosition, message) {

      // 마커를 생성합니다
      var marker = new daum.maps.Marker({
        map: map,
        position: locPosition
      });

      var iwContent = message, // 인포윈도우에 표시할 내용
        iwRemoveable = true;

      // 인포윈도우를 생성합니다
      var infowindow = new daum.maps.InfoWindow({
        content: iwContent,
        removable: iwRemoveable
      });

      marker.setMap(map);

      // 인포윈도우를 마커위에 표시합니다 
      infowindow.open(map, marker);

      // 지도 중심좌표를 접속위치로 변경합니다
      map.setCenter(locPosition);
    }

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = {
        center: new daum.maps.LatLng(37.487697, 126.788740), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
      };

    var map = new daum.maps.Map(mapContainer, mapOption);

    // 마커가 표시될 위치입니다 
    var markerPosition = new daum.maps.LatLng(37.487697, 126.788740);

    // 마커를 생성합니다
    var marker = new daum.maps.Marker({
      position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    var iwContent = '<div style="width:200px;font-size:1rem;padding:5px;"><b>부천 착한 공업사</b><br>부천시 원미구 심곡동 777-30</div>';
    iwPosition = new daum.maps.LatLng(37.487697, 126.788740); //인포윈도우 표시 위치입니다

    // 인포윈도우를 생성합니다
    var infowindow = new daum.maps.InfoWindow({
      position: iwPosition,
      content: iwContent
    });

    // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
    infowindow.open(map, marker); 
  </script>
</body>

</html>