<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>main title</title>

        <% include ./header.ejs %>
    </head>
    <body>
        <div class="main_wrap">
            <section class="main_section">
                <img class="mainImg" src="/images/motorservicecenter.PNG" alt="motorservicecenter">
                <h1>공업사 타이틀</h1>
                <p>경기도 부천시</p>
            </section>
            <form  action="/upload" enctype="multipart/form-data" id="imageUploadForm" method="post">
                <input type="file" class="file_upload" name="img_files[]" accept="image/*">
            </form>
            <form enctype="application/x-www-form-urlencoded"  method="post">
                <div class="imagePreViewList">
                </div>
                <section class="info_section">
                    <div class="inner_section">
                        <h2 class="info_h2">차종</h2>
                        <select class="car_type" name="car_type">
                            <option value="all_new_k3" selected>all new k3</option>
                            <option value="BMW">BMW</option>
                            <option value="audi">audi</option>
                        </select>
                        <h2>정보</h2>
                        <input type="text" class="info_name" name="info_name">
                        <input type="text" class="info_number" name="info_number">
                    </div>
                </section>
                <section class="required_section">
                    <div class="inner_section">
                        <h2 class="required_h2">견적 요청사항</h2>
                        <input type="checkbox" id="chk1" name="chk1">
                        <label for="chk1">보험수리</label>
                        <input type="checkbox" id="chk2" name="chk2">
                        <label for="chk2">랜터카 서비스</label>
                        <input type="checkbox" id="chk3" name="chk3">
                        <label for="chk3">픽업서비스</label>
                        <h2>요구사항</h2>
                        <p class="re_p">어떤 부위가 어떻게 손상되었나요?<br>(예: 운전석 앞 문이 내부까지 찌그러졌습니다.)</p>
                        <textarea name="req_text" id="req_text" cols="30" rows="4"></textarea>

                        <h2>프로모션 코드</h2>
                        <p>이벤트 참여를 위한 코드를 입력해 주세요.</p>
                        <textarea name="event_code" id="event_code" cols="30" rows="3"></textarea>
                        
                        <input type="checkbox" id="chk4" name="chk4">
                        <label for="chk4">개인정보 및 서비스 이용 약관 동의합니다.</label>
                        
                        <button type="submit" class="re_btn">견적요청</button>
                    </div>
                </section>
            </form>
            <% include ./footer.ejs %>
        </div>
        <script src="/javascripts/motor_es.js"></script>
    </body>
</html>