<!DOCTYPE html>
<html>
  <head>
      <% include ./header.ejs %>
  </head>
  <body>
      <div id="main_container">
        <div class="main_inner_wrap">
          <div class="row">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="row">
            <ul>
              <li>메인</li>
              <li>채팅</li>
              <li>설정</li>
            </ul>
          </div>
      </div>
  </body>
</html>
