html{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100%;
}

.row{
  display: block;
}

#main_container,
#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size:2rem;
  background: white;
}
.yourPageName_wrap {
  height: 100%;
}
#main_container{
  padding: 0;
  height: 100%;
}

.main_inner_wrap {
  height: 100%;
  overflow-y: auto;
  padding: 0rem 0rem 8rem 0rem;
}

.header_wrap {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #ccc;
  display: none;
}

.header_wrap h1, .header_wrap button{
  position: absolute;
  top: 0;
}

.header_wrap h1 {
  left: 0;
}

.header_wrap button {
  right: 0;
}

.login_btn {
  border: 0;
  background: #fff;
  color: #ccc;
}

#footer ul{
  width: 100%;
  padding: 0;
  margin: 0;
  display: table;
}

#footer ul li{
  border: 1px solid #ddd;
  display: inline-block;
  width: 33.3333%;
  padding: 2rem 0rem;
  text-align: center;
  font-size:50%;
}

.outer {
  display: table;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}