.main_inner_wrap{
    padding-left: 50px;
    padding-right: 50px;
}

.estimate_result .result{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.estimate_result .contents{
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid black;
}
.result h1{
    font-size: 20px;
    margin-bottom: 5px;
}

.contents h2{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}
.contents p{
    margin-bottom: 10px;
    font-size: 12px;
}

.contents p span{
    display:block;
    font-size: 12px;
}

#checkBtn,
.checkBtn{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #aaa;
    border: 1px solid black;
    color: black;
}

.notice{
    bottom: 100px;
    margin-top: 50px;
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

.imagePreViewList img{
    height:150px;
}