*{
    margin: 0;
    padding: 0;
}
.event_container {overflow-y:auto;}
.event_wrap hr, .event_detail_wrap hr {margin: 0 0 1rem 0;}
.event_wrap .inner_section, .event_detail_wrap .inner_section{
    padding: 15px;
}
.event_wrap .event_content, .event_detail_wrap .event_content {
    position: relative;
}
.event_wrap .event_content div.event1, .event_wrap .event_content div.event2, 
.event_wrap .event_content .event_detail, .event_detail_wrap .event_content .event_detail{
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
    margin-bottom: 1rem;
}
.event_wrap .coupon_seach, .event_detail_wrap .coupon_seach {
    margin-bottom: 1rem;
}
.event_wrap .coupon_seach input, .event_detail_wrap .coupon_seach input {
    width: 80%;
    height: 30px;
    font-size: 13px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.event_wrap .coupon_seach input::placeholder, .event_detail_wrap .coupon_seach input::placeholder {
    color: #ccc;
}
.event_wrap .coupon_seach button, .event_detail_wrap .coupon_seach button {
    width: 17%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border: 0;
    font-size: 15px;
    vertical-align: middle;
    border-radius: 5px;
    background: #431dad;
}
.event_wrap .event1 {
    background: url('../images/back_img1.jpg') no-repeat;
    background-size: 100% 100%;
}
.event_wrap .event2 {
    background: url('../images/back_img2.jpg') no-repeat;
    background-size: 100% 100%;
}
.event_detail_wrap .event_detail img {
    width: 100%;
}
.event_wrap .event_img_wrap, .event_detail_wrap .event_img_wrap {
    width: 90%;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.event_wrap .event_img_wrap img, .event_detail_wrap .event_img_wrap img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}
.event_wrap .event_img_wrap > div, .event_detail_wrap .event_img_wrap > div  {
    position: relative;
    width: 85%;
    height: 100%;
}
.event_wrap .event_img_wrap h2 ,.event_detail_wrap .event_img_wrap h2{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #ad0c0c;
    font-weight: 700;
    font-size: 20px;
}
.event_wrap .event_img_wrap .dis_type, .event_detail_wrap .event_img_wrap .dis_type {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 31px;
    font-weight: 800;
    color: black;
}
.event_detail_wrap .event_img_wrap .dis_type {
    top: 50%;
    transform: translate(-50%,-50%);
}
.event_wrap .event_img_wrap .dis_content, .event_detail_wrap .event_img_wrap .dis_content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 12px;
    color: #9b9fa0;
}
.event_detail_wrap .coupon_btn {
    position: fixed;
    bottom: 85px;
    left: 50%;
    width: 90%;
    height: 8%;
    border: 0;
    background: #431dad;
    color: #fff;
    font-size: 20px;
    transform: translateX(-50%);
}
.event_detail_wrap .event_detail_2 {
    position: absolute;
    left: 50%;
    top: 190px;
    transform: translateX(-50%);
    width: 90%;
    padding: 1rem;
    font-size: 15px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.event_detail_wrap .event_detail_2 p {
    text-align: right;
    margin-top: 10px;
    font-size: 15px;
}
.event_detail_wrap .event_detail_2 p strong {
    font-size: 15px;
}
.event_detail_wrap .event_detail_3 {
    position: absolute;
    left: 50%;
    top: 270px;
    transform: translateX(-50%);
    width: 90%;
    padding: 1rem;
    font-size: 15px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.event_detail_wrap .event_detail_3 h2 {margin-bottom: 10px;}
.event_detail_wrap .event_detail_3 li {
    font-size: 0.8rem;
    line-height: 19px;
}
/* @media (max-width: 360px) {
    .event_content div.event1, .event_content div.event2, .event_content .event_detail{
        height: 178px;
    }
    .event_img_wrap {width: 255px;height: 120px;}
    .event_img_wrap h2 {top: 21%;font-size: 18px;}
    .event_img_wrap .dis_type {top: 37%; font-size: 26px;}
    .event_img_wrap .dis_content {top: 69%;font-size: 11px;}
    .event_detail_wrap .dis_type {top: 47%;}
    .event_detail_2 {top: 162px;width: 96%;padding: 10px;font-size: 15px;}
    .event_detail_3 li {font-size: 11px;}
    .event_detail_3 {top: 231px;width: 96%;padding: 10px;font-size: 15px;}
    .coupon_btn {bottom: 78px;width: 87%;height: 40px; font-size: 17px;}
} */