*{
    margin: 0;
    padding: 0;
}
.event_wrap hr {margin: 0 0 20px 0;}
.event_wrap .inner_section, .event_detail_wrap .inner_section{
    padding: 15px;
}
.event_content {
    position: relative;
}
.event_content div.event1, .event_content div.event2, .event_content .event_detail{
    position: relative;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 20px
}
.coupon_seach {
    margin-bottom: 20px;
}
.coupon_seach input {
    width: 80%;
    height: 40px;
    font-size: 13px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.coupon_seach input::placeholder {color: #ccc;}
.coupon_seach button {
    width: 17%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border: 0;
    font-size: 15px;
    vertical-align: middle;
    border-radius: 5px;
    background: #431dad;
}
.event1 {
    background: url('../images/back_img1.jpg') no-repeat;
    background-size: 100% 100%;
}
.event2 {
    background: url('../images/back_img2.jpg') no-repeat;
    background-size: 100% 100%;
}
.event_detail img {
    width: 100%;
}
.event_img_wrap {
    width: 300px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.event_img_wrap img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}
.event_img_wrap > div {
    position: relative;
    width: 85%;
    height: 100%;
}
.event_img_wrap h2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #ad0c0c;
    font-weight: 700;
    font-size: 20px;
}
.event_img_wrap .dis_type {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 31px;
    font-weight: 800;
    color: black;
}
.event_detail_wrap .dis_type {
    top: 50%;
    transform: translate(-50%,-50%);
}
.event_img_wrap .dis_content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 12px;
    color: #9b9fa0;
}
.coupon_btn {
    position: absolute;
    bottom: 85px;
    left: 50%;
    width: 90%;
    height: 50px;
    border: 0;
    background: #431dad;
    color: #fff;
    font-size: 20px;
    transform: translateX(-50%);
}
.event_detail_2 {
    position: absolute;
    left: 50%;
    top: 190px;
    transform: translateX(-50%);
    width: 90%;
    padding: 15px;
    font-size: 15px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.event_detail_2 p {
    text-align: right;
    margin-top: 10px;
    font-size: 15px;
}
.event_detail_2 p strong {
    font-size: 15px;
}
.event_detail_3 {
    position: absolute;
    left: 50%;
    top: 270px;
    transform: translateX(-50%);
    width: 90%;
    padding: 15px;
    font-size: 15px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.event_detail_3 h2 {margin-bottom: 10px;}
.event_detail_3 li {
    font-size: 12px;
    line-height: 19px;
}