
.main_page_wrap .main_inner_wrap{
    z-index: -2;
    background: #eee;
    padding-left: 0px;
    padding-right: 0px;

}

.main_page_wrap .main_content{
    position: relative;
    z-index: 2;
    padding-left: 25px;
    padding-right: 25px;
}

.main_page_wrap .back_image_wrap{
    position: relative;
    width: 100%;
    height: 0;
}

.main_page_wrap .back_image_content{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 175px;
    background: #575eb9;
}

.main_page_wrap .car_info, 
.main_page_wrap .reservation_inner, 
.main_page_wrap .event_inner{
    background-color: white;
}

.main_page_wrap .car_name_wrap{
    width: 100%;
    height: 40px;
}

.main_page_wrap .car_name{
    word-break: keep-all;
    font-size: 0.8em;
    text-align: center;
    margin: 30px auto;
    width: 60%;
    color: #fff;
}
.main_page_wrap .car_info{
    width: 100%;
    padding:20px 20px;
    margin-top: 60px;
    margin-bottom: 10px; 
}

.main_page_wrap .car_info .carImage{
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: auto;
}


.main_page_wrap .car_info .inner{
    position: relative;
    left:0;
    right:0;
    margin:auto;
    width: 100%;
    display: block;
    height: 10px;
}


.main_page_wrap .car_info .empty{
    width: 100%;
    height: 25px;
}

.main_page_wrap .inline_block1,
.main_page_wrap .inline_block2{
    font-size: 0.5em;
    display:inline-block;
}

.main_page_wrap .inline_block1{
    width: 30%;
    font-size: 0.5em;
    font-weight: bold;
}

.main_page_wrap .inline_block2{
    text-align: right;
    width: 65%;
}

.main_page_wrap .car_info,
.main_page_wrap .reservation_wrap, 
.main_page_wrap .event_wrap{
    margin-bottom: 30px
}


.main_page_wrap .reservation_wrap h1, 
.main_page_wrap .event_wrap h1{
    font-size: 0.5em;
    color: #575eb9;
    margin-bottom: 15px;
}

.main_page_wrap .reservation_wrap .reservation_inner{
    width: 100%;
}

.main_page_wrap .reservation_wrap .reservation_content{
    height: 90px;
}

.main_page_wrap .reservation_wrap #reservation1::after{
    content: " ";
    display: block;
    clear: both;
}
.main_page_wrap .reservation_wrap .reservation_content .left_side{
    float: left;
    height: 100%;
    width: 55%;
    padding: 5px;
    padding-top: 10px;
}

.main_page_wrap .reservation_wrap .reservation_content .right_side{
    float: right;
    height: 100%;
    width: 45%;
}

.main_page_wrap .reservation_wrap .reservation_content .row{
    font-size: 0.5em;
    margin-bottom: 7px;
}

/*예약 접수상태*/
.main_page_wrap .reservation_wrap .reservation_content .reservation_status{
    display: inline-block;
    padding: 2px;;
    font-size: 0.7em;
    background: #575eb9;
    color: white;
}

/*예약 모델명*/
.main_page_wrap .reservation_wrap .reservation_content .reservation_car_name{
    display: inline-block;
    font-weight: bold; 
}

/*예약 방식??*/
.main_page_wrap .reservation_wrap .reservation_content .reservation_status2{
    font-size: 0.7em;
}

/*예약 상세내용*/
.main_page_wrap .reservation_wrap .reservation_content .reservation_text{
    color: #aaa;
    font-size: 0.7em;
}

.main_page_wrap .reservation_wrap .reservation_content .reservation_car_image{
    width: 100%;
}

/*예약현환 버튼 영역*/
.main_page_wrap .reservation_wrap .reservation_button_wrap{

    width: 100%;
    height: 40px;
    background: white;
    border-top: 1px solid #eee;
}

.main_page_wrap .reservation_wrap .left_button,
.main_page_wrap .reservation_wrap .right_button{
    text-align: center;
    font-size: 0.5em;
    line-height: 40px;
    color: #575eb9;
    width: 50%;
}

.main_page_wrap .reservation_wrap .left_button{  
    float: left;
}

.main_page_wrap .reservation_wrap .right_button{
    float: right;
}

.main_page_wrap .event_wrap .event_inner{
    width: 100%;
    height: 100px;
}