.motor_wrap .main_inner_wrap{
    padding-left: 0;
    padding-right: 0;
}

.motor_wrap .mainImg {
    height: 100%;
    width: 100%;
    display: table;
}


.motor_wrap .motorTitleBar{
    position: absolute;
}

.motor_wrap .motorTitle{
    top: 0;
    position: relative;
    text-align: center;
}

.motor_wrap .motorSubTitle{
    text-align: center;
    color: white;
}

.motor_wrap .estimate {
    background-color: #575eb9;
    color: white;
    font-size: 55%;
    line-height: 400%;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.motor_wrap .shopInfo{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10px;
    height: 105px;
}

.motor_wrap .shopInfo .leftSide{
    text-align: center;
    float: left;
    height: 100%;
    width: 30%;
}

.motor_wrap .shopInfo .rightSide{
    float: right;
    height: 100%;
    width: 70%;
}

.motor_wrap .shopInfo::after{
    content: "";
    display: block;
    clear: both;
}

.motor_wrap .shopInfo .infoImage{
    width: 100%;
    min-width: 40px;
    max-width: 110px;
}

.motor_wrap .shopInfo .rightSide ul{
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    vertical-align: middle;
}
.motor_wrap .shopInfo .rightSide li{
    list-style: none;
    line-height: 100%;
}

.motor_wrap .shopInfo .rightSide .motorName{
    font-size: 1.5rem;
    font-weight: bold;
    color: #575eb9;
    margin-bottom: 10px;
}

.motor_wrap .shopInfo .rightSide .motorAddress,
.motor_wrap .shopInfo .rightSide .motorPhonNumber{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.motor_wrap .motorLocation {
    height: 25%;
    width: 100%;
    margin-bottom: 25px;
}

.motor_wrap .title{
    font-size: 60%;
    font-weight: bold;
    color: #575eb9;
    margin-bottom: 15px;
}

.motor_wrap .operatingTimeWrap,
.motor_wrap .basicInfoWrap,
.motor_wrap .reviewWrap{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 30px;
}

.motor_wrap .operatingTimeWrap .content{
    font-size: 50%;
    font-weight: 550;
    line-height: 150%;
}

.motor_wrap .basicInfoWrap .content{
    font-size: 50%;
}

.motor_wrap .basicInfoWrap li{
    list-style: none;
    line-height: 1.5em;
    font-weight: bold;
    float: left;
    width: 50%;
}

.motor_wrap .basicInfoWrap li::before{
    content: '✓ ';
    font-weight: bold;
    color: #575eb9;
}

.motor_wrap .basicInfoWrap::after{
    content: "";
    display: block;
    clear: both;
}

.motor_wrap .reviewWrap .reviewEdit{
    font-size: 60%;
    font-weight: 550;
    margin-right: 10px;
    float: right;
    color: #000;
}

.motor_wrap .reviewWrap .reviewCrad{
    margin-bottom: 20px;
}

.motor_wrap .reviewWrap .reviewCrad .leftSide{
    float: left;
    text-align: center;
    padding: 0 1rem;
}

.motor_wrap .reviewWrap .reviewCrad .rightSide{
    float: left;
    width: 75%;
}

.motor_wrap .reviewWrap .reviewCrad::after{
    content: "";
    display: block;
    clear: both;
}

.motor_wrap .reviewWrap .reviewCrad .reviewImg{
    width: 38px;
}

.motor_wrap .reviewWrap .reviewCrad li{
    list-style: none;
}

.motor_wrap .reviewWrap .reviewCrad .reviewContent{
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 10px;
}

.motor_wrap .reviewWrap .reviewCrad .reviewCarType{
    font-size: 1rem;
    color: gray;
}

.motor_wrap .reviewWrap .reviewCrad .reviewDate{
    font-size: 1rem;
    color: gray;
}