@charset "UTF-8";
.main_wrap {margin-bottom: 72px;}
.main_section {position: relative; color: #fff;}
.main_section h1 {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);width: 189px; font-size: 30px;}
.main_section p {position: absolute; top: 63%; left: 50%; transform:translateX(-50%);}
.main_wrap .inner_section {padding: 20px;}
.info_section h2 {font-size: 17px; margin: 15px 0;}
.info_section .info_h2 {margin: 0 0 15px 0;}
.info_section .car_list{width: 100%;height: 35px;}
.info_section input {width: 100%; height: 35px;}
.info_section input.info_name {margin-bottom: 5px;}
.required_section .inner_section {padding: 0 20px 20px;}
.required_section h2 {font-size: 17px; margin: 15px 0;}
.required_section .required_h2 {margin: 0 0 15px 0;}
.checkbox_wrap {margin-bottom: 10px;}
.required_section input {display: none;}
.required_section input.file_upload {display: block; margin-bottom: 20px;}
.required_section label {display: block; position: relative; width: 100%;margin-bottom: 20px}
.required_section label:before {content: ''; position: absolute; border: 1px solid #ccc; top:0; right: 0; width: 15px; height: 15px; box-sizing: border-box;cursor: pointer;}
.required_section input:checked + label:before {content: '✔';}
.required_section textarea {width: 100%; margin-top: 10px;}
.required_section textarea#area2 {margin-bottom: 20px;}
.required_section .re_p {line-height: 20px;}
.re_btn {width: 100%;background: #ccc;height: 50px;border: 1px solid #ccc;}