.motor_wrap .basicImgInformation {
    border-color: gold;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -khtml-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 25%;
}

.motor_wrap .basicInformation {
    font-size: 45%;
    padding-bottom: 10px;
    text-align: center;
    width: 25%;
}

.motor_wrap .estimate {
    background-color: gray;
    color: black;
    font-size: 45%;
    line-height: 300%;
    text-align: center;
    width: 100%;
}

.motor_wrap .mainImg {
    height: 100%;
    width: 100%;
    display: table;
}

.motor_wrap .motorLocation {
    height: 25%;
    width: 100%;
}

.motor_wrap .motorLeftInformation {
    font-size: 35%;
    line-height: 200%;
    text-align: left;
    vertical-align: top;
}

.motor_wrap .motorRightInformation {
    font-size: 45%;
    line-height: 200%;
    padding-left: 30px;
    text-align: left;
    vertical-align: top;
}

.motor_wrap .reviewDivide {
    padding-bottom: 10px;
}

.motor_wrap .reviewLeft {
    font-size: 45%;
    line-height: 200%;
    text-align: left;
    vertical-align: bottom;
}

.motor_wrap .reviewRight {
    font-size:45%;
    line-height: 200%;
    text-align: right;
    vertical-align: bottom;
}

.motor_wrap .title {
    font-size:45%;
    padding-bottom: 10px;
    padding-top: 50px;
}

.motor_wrap .infoTable{
    display: block;
    widows: 100%;
}

.motor_wrap .width100 {
    width: 100%;
}
