.outer {
  display: table;
  width: 100%;
  height: 100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}

.button{
  cursor: pointer;
}

#q-app{
  position: fixed;
  width: 100%;
  height: 100%;
}

.page_wrap,
#main_container,
.main_inner_wrap{
  height:100%;
}

.main_inner_wrap{
  height: 100%;
  overflow: auto;
}

.q-input-target-placeholder,
.q-if-standard .q-if-label.q-if-label-above,
.q-if-inverted .q-if-label.q-if-label-above,
.input-place-holder-mini .q-if-standard .q-if-label {
  line-height: 1.5 !important;
}

.q-if-label:not(.q-if-label-above){
  margin-top: 0.6rem !important;
}

.q-if-standard.q-if-has-label{
  padding:0;
}